<!doctype html>
<html lang="sr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ www }}assets/bootstrap.css">
	<link rel="stylesheet" href="{{ www }}assets/app.css">
	<title>{{ page_title }} - {{ app_name }}</title>
	{{ page_start }}
</head>
<body>
	{{{ page_content }}}
	<script src="{{ www }}assets/jquery.js"></script>
	<script src="{{ www }}assets/popper.js"></script>
	<script src="{{ www }}assets/bootstrap.js"></script>
	{{ page_end }}
</body>
</html>