<nav class="nav flex-column pr-3 border-top-0 border-left-0 border-bottom-0 border-right">
	<a class="nav-link" href="{{ www }}">{{#i18n}}Home{{/i18n}}</a>
	<a class="nav-link" href="{{ www }}employees">{{#i18n}}Employees{{/i18n}}</a>
	<a class="nav-link" href="{{ www }}users">{{#i18n}}Users{{/i18n}}</a>
	<a class="nav-link" href="{{ www }}benefits">{{#i18n}}Benefits{{/i18n}}</a>
	<a class="nav-link" href="{{ www }}paygrades">{{#i18n}}Pay grades{{/i18n}}</a>
	<a class="nav-link" href="{{ www }}workhours">{{#i18n}}Work hours{{/i18n}}</a>
	<a class="nav-link" href="{{ www }}reports">{{#i18n}}Reports{{/i18n}}</a>
	<a class="nav-link" href="{{ www }}payments">{{#i18n}}Payments{{/i18n}}</a>
	<a class="nav-link" href="{{ www }}logout">{{#i18n}}Logout{{/i18n}} ({{ username }})</a>
</nav>