<h1>{{#i18n}}Users{{/i18n}}</h1>
<div class="spacer mt-3"></div>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ www }}">{{#i18n}}Home{{/i18n}}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{#i18n}}Users{{/i18n}}</li>
	</ol>
</nav>
<div class="actions-toolbar">
	<a href="{{ www }}users/add" class="btn btn-primary">{{#i18n}}Add user{{/i18n}}</a>
</div>
<div class="spacer mt-3"></div>
<table class="table users list-view">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">{{#i18n}}Username{{/i18n}}</th>
			<th scope="col">{{#i18n}}Actions{{/i18n}}</th>
		</tr>
	</thead>
	<tbody>
		{{# users }}
		<tr>
			<th scope="row">{{ user_id }}</th>
			<td>{{ username }}</td>
			<td>
				<a class="btn btn-sm btn-primary" href="{{ www }}users/{{ user_id }}/edit">Edit</a>
				<a class="btn btn-sm btn-danger" href="{{ www }}users/{{ user_id }}/delete">Delete</a>
			</td>
		</tr>
		{{/ users }}
	</tbody>
</table>